@newcmd FOO
Foo on you!
@endcmd
@newcmd guilty{who}
@for i 1 4 1
That's guilty, @who@, guilty!
@next i
@endcmd
@newcmd hello{name}
Hello, @name@!
@endcmd
